body {
  background-color: #097731;
}

.wrapper1 > div {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  color: rgb(0, 0, 0);
}.wrapper1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.montask {
font-size: 1.5em;
}

.profpic {
  height: 100px;
  width: 100px;
  background-color: #BCC1BD;
  border-radius: 50%;
  margin: 0 auto;
}

.sidemenu1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.sidemenu2 {
  grid-column: 1/1;
  grid-row: 2/3;
}

.sidemenu3 {
  grid-column: 1/1;
  grid-row: 3/4;
}

.sidemenu4 {
grid-column: 1/1;
grid-row: 4/4;
}


.Task1 {
grid-column: 3/5;
grid-row: 2/1;

}

.Task2 {
grid-column: 3/5;
grid-row: 3/2;

}

.Task3 {
  grid-column: 3/5;
  grid-row: 4/3;

}

.Task4 {
  grid-column: 3/5;
  grid-row: 5/4
}

.Task5 {
  grid-column: 3/5;
  grid-row: 6/5
}





.tsk {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}



li.tsk.completed {
  text-decoration: line-through;
}
