body {
  background-color: #097731;
  min-height: 100vh;
  padding: rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appcontainer {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 650px;
  min-width: 500px;
  background: #f1f5f8;
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}



.wrapper1 > div {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  color: rgb(0, 0, 0);
}.wrapper1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* .montask {
font-size: 1.5em;
} */

.profpic {
  height: 100px;
  width: 100px;
  background-color: #BCC1BD;
  border-radius: 50%;
  margin: 0 auto;
}

/* .sidemenu1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.sidemenu2 {
  grid-column: 1/1;
  grid-row: 2/3;
}

.sidemenu3 {
  grid-column: 1/1;
  grid-row: 3/4;
}

.sidemenu4 {
grid-column: 1/1;
grid-row: 4/4;
} */


.Task1 {
grid-column: 3/5;
grid-row: 2/1;
width: 280px;
}

.montask {
  border-radius: 25px;
  background-color: #006400;
  color: white;
  }

.tuetask {
  border-radius: 25px;
  background-color: #000080;
  color: white;
}




.Task2 {
grid-column: 3/5;
grid-row: 3/2;
width: 280px;

}

.Task3 {
  grid-column: 3/5;
  grid-row: 4/3;
  width: 280px;

}

.Task4 {
  grid-column: 3/5;
  grid-row: 5/4;
  width: 280px;

}

.Task5 {
  grid-column: 3/5;
  grid-row: 6/5;
  width: 280px;
}

.Task6 {
  grid-column: 3/5;
  grid-row: 6/6;
  width: 280px;
}

.Task7 {
  grid-column: 3/5;
  grid-row 7/6;
  width: 280px;
}





.tsk {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
}



li.tsk.completed {
  text-decoration: line-through;
}
